body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:url(img/ccs_effect.jpg);
}
.css_effect h1{
    color: tomato;
    font-size: 50px;
    font-weight: monospace;
    letter-spacing: 7px;
    cursor: pointer;
}
.css_effect span{
    transition: .5s linear;
}
.css_effect h1:hover span:nth-child(1){
    margin-right: 5px;
}
.css_effect h1:hover span:nth-child(1):after{
    content: "'";
}
.css_effect h1:hover span:nth-child(2){
    margin-left: 30px;
}
.css_effect h1:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fff,
}